# private configuration files 
aimk.private
build_private.properties
build_testsuite.properties
distinst.private

# dependencies files, tags and tmp-files
*_dependencies
*.swp
tags
cvs_update.*
._*
.idea
.clion.source.upload.marker

# clion build
cmake-build-debug
